<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    :root {
        --main-color: red;
        --border-color: yellow;
    }

    header {
        border: 5px solid sienna;
    }

    h1 {
        color: var(--main-color);
        border: 2px dotted burlywood;
    }

    p {
        color: slategrey;
        border: 1px dotted palevioletred;
    }

    main {
        border: 5px solid red;
    }

    footer {
        border: 05px solid var(--border-color);
    }
</style>

<body>
    <header>
        <h1>i Am exploronig custom property</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse nam blanditiis aspernatur cupiditate
            distinctio? Doloremque cumque quasi maiores, error commodi at quisquam. Incidunt culpa optio sunt magni
            libero laborum, expedita nam similique ullam consequatur vel error neque asperiores numquam explicabo
            maiores aspernatur, saepe, doloribus rerum vitae autem aperiam animi tempore?</p>
    </header>
    <main>
        <h1>this is amader maincontent</h1>
        <h6>tiny heading</h6>
        <section>
            <aside>
                my navigation
            </aside>
        </section>
    </main>
    <footer>
        <p>this is footer</p>
    </footer>
</body>

</html>