<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container {
        display: flex;
        border: dotted aqua;
        height: 300px;
        /* justify-content: flex-end; */
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
    }

    .box {
        height: 200px;
        width: 200px;
        border: dotted red;
        margin-left: 5px;

    }
</style>

<body>
    <h2>I am flexbox tmi dekho amar karishma</h2>
    <div class="container">
        <div class="box">BOX1</div>
        <div class="box">BOX2</div>
        <div class="box">BOX3</div>
    </div>
</body>

</html>