.container{
 display: grid;
 grid-template-columns: repeat(3, 1fr);

}
.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}